[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "test"

[packages]
remlaverlib = {version="*", index="test"}
django = {version="*", index="pypi"}
requests = {version="*", index="pypi"}
python-dotenv = {version="*", index="pypi"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
