.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 10px;
}

input[type="submit"] {
    margin-top: 10px;
}

form {
    display: flex;
    margin: 5rem 0;
    height: 2em;
    width: 10em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.radio {
    display: flex;
    flex-direction: row;
    width: 6em;
    justify-content: space-around;
}
