{% extends "base.html" %}

{% block content %}
    <div class="box">
        <h2>Senti-O-Meter</h2>
        <form action="/submit" method="POST">
            {{ review_form.csrf_token }}
            {{ review_form.review.label }}
            {{ review_form.review }}
            <input type="submit">
        </form>
        <div class="item">
            <h2>{{ smiley_emoji | safe }}</h2>
        </div>
        <div class="item">
            <form action="/validate" method="POST">
                {{ validation_form.csrf_token }}
                <div class="radio">
                    {% for option in validation_form.is_correct %}
                        <tr>
                            <td>{{ option }}</td>
                            <td>{{ validation_form.is_correct.choices[loop.index0] | safe }}</td>
                        </tr>
                    {% endfor %}
                </div>
                {% if validation_form %}
                    <input type="submit">
                {% endif %}
            </form>
        </div>
        <div class="item">
            <h2>{{ current_version }}</h2>
        </div>
    </div>
{% endblock %}